* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    letter-spacing: 0.04em;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

a  {
    text-decoration: none;
    color: inherit;
}

ul,ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

/* upper-header */

.upper-header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper-header div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.upper-header a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.upper-header a:hover {
    text-decoration: underline;
    color: #0091ff;
}

.upper-header a ion-icon {
    font-size: 20px;
    color: #0091ff;
}

/* header */
.main1 {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
    top: 0;
}
header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 9999;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

header .hover-underline {
  font-size: 1rem;
  color: black;
  position: relative;
  display: inline-block;
}

header .hover-underline::after,
header .hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #0091ff, #0091ff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

header .hover-underline::before {
  top: -5px;
  transform-origin: left;
}

header .hover-underline:hover::after,
header .hover-underline:hover::before {
  transform: scaleX(1);
}

.hero {
    z-index: 0;
    position: relative;
}

.hero .gallery {
    margin-top: 20px;
    width: 1200px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.hero .gallery .carousel-cell {
border-radius: 20px;
    overflow: hidden;}

.hero .gallery .carousel-cell img {
    width: 1200px;
    height: 500px;
}

.flickity-page-dots {
    display: none;
}

section {
    padding: 60px 0;
    text-align: center;
}

section h1 {
    padding: 30px 0;
}

.products {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.products .box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
}

.products .box-1:hover {
    transform: scale(1.01);
    transition: all 0.1s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.products .box-1:active {
    transform: scale(0.99);
    transition: all 0.1s ease-in-out;
}

.products .box-1 img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.products .box-1 p {
    margin: 15px 0 0 0;
    font-size: 1.2rem;
    font-weight: 600;
}